# Git and user-specific
.git
.idea
.vscode

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Docker
.dockerignore
Dockerfile

# Local data and artifacts
data/
data
*.db
*.sqlite3
*.log

# OS-specific
.DS_Store
*.swo
*.swp

# Build artifacts
build/
dist/
*.egg-info/

tmp
vendor
schedules
history
docs
notebooks