# app config
STORAGE_ROOT=

LOGS_dir=logs


HF_TOKEN=
MISTRAL_API_KEY=
OPENAI_API_KEY=
OPENROUTER_API_KEY=
CACHE_DIR=tmp/caches
SCHEMATISMS_PATH=data/schematyzmy
SAINTS_MAPPINGS=dedication.json
BUILDING_MATERIAL_MAPPINGS=building_material.json
DEANERY_MAPPINGS=deanery.json
LOG_LEVEL=DEBUG
TOKENIZERS_PARALLELISM=false
OPENAI_LOG=info
WANDB_API_KEY=
VLLM_MODEL_URL=https://huggingface.co/unsloth/gemma-3-27b-it-GGUF/resolve/main/gemma-3-27b-it-Q4_K_M.gguf?download=true
VLLM_MODEL_FILE=gemma-3-27b-it-Q4_K_M.gguf
OLLAMA_FLASH_ATTENTION=0
LLAMA_API_KEY=
